* text=auto

# Shell scripts
*.sh text eol=lf

# Python files
*.py text eol=lf

# Template files
*.mako text eol=lf

# Config files
*.ini text eol=lf
*.yml text eol=lf
*.txt text eol=lf

# Frontend
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf
